@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #111517;
  --color-dark-bg: #202c36;
  --color-dark-component-bg: #2b3844;
  --color-placeholder: #c4c4c4;

  --drop-shadow-component: 0 2px 9px rgba(0, 0, 0, 0.15);
}
